<!DOCTYPE html>
<html lang="en">
<head><title>Book Recommendations</title></head>
<body>
<style>
body,h1,h2,h3,h4,h5,h6,label {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #000000;
  line-height: 1.8;
}
</style>
<h2 style="color:#14213D; background-color:#BFD1E5;">WeatherReads &#127780;</h2>
<h3>Choose the weather and get 5 book recommendations!</h3>
{% for book in books %}
<img src= '{{book.image()}}' alt = '{{book.title}}'>
{% endfor %}

<form action="/results" method="get">
	<input type="radio" id="snow" name="weather" value="snow">
	<label for="snow">Snowy</label><br>
	<input type="radio" id="rain" name="weather" value="rain">
	<label for="rain">Rainy</label><br>
	<input type="radio" id="clouds" name="weather" value="clouds">
	<label for="clouds">Cloudy</label><br>
	<input type="radio" id="sun" name="weather" value="sun">
	<label for="sun">Sunny</label><br>
	<input type="submit" id="submit" name="submit">
</form>
</body>
</html>
